<h1>Burger Time!</h1>

<h2>Fresh Off The Grill!</h2>

<ul>
  {{#each burgers}}
    {{#unless devoured}}
      {{> burgers/burger-block devour=true}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Fresh Out! Ask Again Next Time....</h2>

<ul>
  {{#each burgers}}
    {{#if devoured}}
      {{> burgers/burger-block devour=false}}
    {{/if}}
  {{/each}}
</ul>

<h2>Add A Burger:</h2>
<form class="add-burger-form">

  <div class="form-group">
    <label for="burg">New Burger Name:</label>
    <input type="text" id="burg" name="name">
  </div>

  <button type="submit">Add New Burger!</button>
</form>