<img src="https://i.imgur.com/xfhXVsV.png" alt="green veggie burger icon">
<h1>BURGER TIME</h1>

<div id="wrap">
    <div id="uneaten" class="burgerlist">
        <h2>Fresh Off The Grill!</h2>

        <ul>
        {{#each burgers}}
            {{#unless devoured}}
            {{> burgers/burger-block devour=true}}
            {{/unless}}
        {{/each}}
        </ul>
    </div>

    <div id="eaten" class="burgerlist">
        <h2>Fresh Out!</h2>

        <ul>
        {{#each burgers}}
            {{#if devoured}}
            {{> burgers/burger-block devour=false}}
            {{/if}}
        {{/each}}
        </ul>
    </div>
</div>

{{!-- <button id="reset-burgers">Demand Fresh Burgers!</button> <- for convenience, wanted to add a button to reset all burgers to uneaten --}} 

<div id="burger-form">
    <h2>Add A Burger:</h2>
    <form class="add-burger-form">

    <div class="form-group">
        <label for="burg">New Burger Name:</label>
        <input type="text" id="burg" name="name">
    </div>

    <button type="submit">Add New Burger!</button>
    </form>
</div>

<div id="github-link">
    <a href="https://github.com/Paraprax/burger">See This Project On GitHub</a>
</div>