<li>
    {{burger_name}}

    {{#if devour}} {{!-- button only appears if burger is yet-uneaten --}}
        <button class="change-ate" data-id="{{id}}" data-newdevour="{{devour}}">
            EAT ME!
        </button>
    {{/if}}
</li>